.tech-continue-btn{
  font-size: 2em;
  text-align: center;
  color: #01547a;
}
.tech-continue-btn button{
  text-align: center;
}
.interviewee-next-btn{
  margin-top: 2em;
}
.interviewee-info-form{
  margin-top: 0.85em;
  margin-bottom: 0.85em;
}
